# Test_N_Eval_Images
*.orig
*.aliases
.vs*
*.aux
*.out
*.synctex.gz
*.toc
*.asv

# Libraries
*.lvlibp
*.llb

# others
*.tif
*.pdf

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
