<?xml version="1.0" encoding="UTF-8"?>
<Measurement xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="validator.xsd">
	<Configuration>
		<Microscope>
			<Objective>4</Objective>
			<Filter>BF</Filter>
			<Prism>Ocular</Prism>
			<Lamp>0</Lamp>			
			<SOLA>0.0</SOLA>
		</Microscope>

	</Configuration>
	<Loop>  
		<Duration>00:12:00</Duration>
		<Image>
			<Prefix>testIMG</Prefix>
			<AquisitionInterval>00:04:00</AquisitionInterval>
			<SaveDir>./TestImages/</SaveDir>
		</Image>
		<Microscope>
			<Objective>20</Objective>
			<Objective>40</Objective>
			<Filter>
				<Color>BF</Color>
				<Lamp>50.0</Lamp>
			</Filter>
			<Filter>
				<Color>GFP</Color>
				<SOLA>20.0</SOLA>
			</Filter>
			<Filter>
				<Color>RFP</Color>
				<SOLA>30.0</SOLA>
			</Filter>
			<Prism>Camera</Prism>		
		</Microscope>
		<Position>
			<X>0</X>
			<Y>0</Y>
		</Position>
		<Position>
			<X>3.5</X>
			<Y>7.5</Y>
		</Position>
		<Position>
			<X>-1.6</X>
			<Y>2.5</Y>
		</Position>
		<Arduino>
			<Step>
				<Time>00:00:10.0000</Time>
				<Feed>7</Feed>
			</Step>
			<Step>
				<Time>00:02:00</Time>
				<Pump>50</Pump>
			</Step>
		</Arduino>
	</Loop>
</Measurement>
